#!/bin/bash
#
# example usage: ./check_mailencryption_mdbox.sh encryption
#

subject=$1

# search for GUID and UID of mail with subject
mailbox_string=`sudo doveadm search -u {{ mariadb_mailuser }}@{{ inventory_hostname }} mailbox INBOX subject $subject | tail -1`
echo $mailbox_string

guid=`echo $mailbox_string | cut -d ' ' -f 1`
uid=`echo $mailbox_string | cut -d ' ' -f 2`

#
guid_uid_mail_body=`sudo doveadm fetch -u {{ mariadb_mailuser }}@{{ inventory_hostname }} body mailbox-guid $guid uid $uid`

if [ -z "$guid_uid_mail_body" ];
then
	echo -n "Nothing found for subject: $subject"
else
	echo $guid_uid_mail_body
fi