#!/bin/bash

# clear mail inbox without removing encryption keys for dovecot
sudo find /var/vmail/{{ inventory_hostname }}/{{ mariadb_mailuser }}/Maildir/* ! -name 'dovecot-attributes' -exec rm -rf {} +
