#!/bin/bash

LOGFILE=diskspace_usage_after_one_mail.log

touch $LOGFILE

sudo /bin/bash ~/clearinbox.sh

FORMER_END_SIZE=0

for ((x=1;x<=10;x++));
do

STARTSIZE=$FORMER_END_SIZE

# Send first mail to create mdbox file
mail -s "A diskusage after encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < 10kb_testfile

sleep 1

ENDSIZE=$(sudo du -bs /var/vmail/{{ inventory_hostname }}/{{ mariadb_mailuser }}/Maildir/storage/ --exclude=dovecot.map.index --exclude=dovecot.map.index.log --exclude=dovecot.map.index.log.1 --exclude=dovecot.map.index.log.2 | cut -d$'\t' -f1)
DIFF=$(echo "$ENDSIZE - $STARTSIZE" | bc )

FORMER_END_SIZE=$ENDSIZE

echo "1 Mail with 10 KB content result in KB on disk: $DIFF" >> $LOGFILE

done

sudo /bin/bash ~/clearinbox.sh

FORMER_END_SIZE=0

for ((x=1;x<=10;x++));
do

STARTSIZE=$FORMER_END_SIZE

# Send first mail to create mdbox file
mail -s "A diskusage after encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < 50kb_testfile

sleep 1

ENDSIZE=$(sudo du -bs /var/vmail/{{ inventory_hostname }}/{{ mariadb_mailuser }}/Maildir/storage/ --exclude=dovecot.map.index --exclude=dovecot.map.index.log --exclude=dovecot.map.index.log.1 --exclude=dovecot.map.index.log.2 | cut -d$'\t' -f1)
DIFF=$(echo "$ENDSIZE - $STARTSIZE" | bc )

FORMER_END_SIZE=$ENDSIZE

echo "1 Mail with 50 KB content result in KB on disk: $DIFF" >> $LOGFILE

done

sudo /bin/bash ~/clearinbox.sh

FORMER_END_SIZE=0

for ((x=1;x<=10;x++));
do

STARTSIZE=$FORMER_END_SIZE

# Send first mail to create mdbox file
mail -s "A diskusage after encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < 100kb_testfile

sleep 1

ENDSIZE=$(sudo du -bs /var/vmail/{{ inventory_hostname }}/{{ mariadb_mailuser }}/Maildir/storage/ --exclude=dovecot.map.index --exclude=dovecot.map.index.log --exclude=dovecot.map.index.log.1 --exclude=dovecot.map.index.log.2 | cut -d$'\t' -f1)
DIFF=$(echo "$ENDSIZE - $STARTSIZE" | bc )

FORMER_END_SIZE=$ENDSIZE

echo "1 Mail with 100 KB content result in KB on disk: $DIFF" >> $LOGFILE

done

sudo /bin/bash ~/clearinbox.sh

cat $LOGFILE

rm $LOGFILE
