#!/bin/bash

LOGFILE=diskspace_usage_after_encryption.log

touch $LOGFILE

# Send first mail to create mdbox file
mail -s "A diskusage after encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < 10kb_testfile

sleep 5

for size in 10kb 50kb 100kb 1mb; do

	testfile="${size}_testfile"

	for ((x=1;x<={{ testscripts_diskspace_usage_after_encryption_run_count }};x++));
	do

		# measure size of mailbox at beginning of the test
		STARTSIZE=$(sudo du -bs /var/vmail/{{ inventory_hostname }}/{{ mariadb_mailuser }}/Maildir/storage/ --exclude=dovecot.map.index --exclude=dovecot.map.index.log --exclude=dovecot.map.index.log.1 --exclude=dovecot.map.index.log.2 | cut -d$'\t' -f1)

		# Send X test mails
		for ((i=1;i<={{ testscripts_diskspace_usage_after_encryption_mail_count }};i++));
		do
	   		mail -s "A diskusage after encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < $testfile
		done

		# sleep to not overload the server
		sleep 5

		# measure size of mailbox at end of the test
		ENDSIZE=$(sudo du -bs /var/vmail/{{ inventory_hostname }}/{{ mariadb_mailuser }}/Maildir/storage/ --exclude=dovecot.map.index --exclude=dovecot.map.index.log --exclude=dovecot.map.index.log.1 --exclude=dovecot.map.index.log.2 | cut -d$'\t' -f1)

		# calc resulting diskusage
		DIFF=$(echo "$ENDSIZE - $STARTSIZE" | bc )

		#echo $STARTSIZE
		#echo $ENDSIZE

		echo "{{ testscripts_diskspace_usage_after_encryption_mail_count }} Mails with $size content result in KB on disk: $DIFF" >> $LOGFILE

	done
done

cat $LOGFILE

rm $LOGFILE