#!/bin/bash
#
# example usage: ./encryption_by_mailsize.sh
#

LOGFILE=encryption_by_mailsize.log

touch $LOGFILE

for size in 10kb 50kb 100kb 1mb 5mb 10mb;
do
	testfile="${size}_testfile"

	# GET START TIME
	START=$(date +%s.%N)

	for ((i=1;i<={{ testscripts_encryption_by_mailsize_count }};i++));
	do
   		mail -s "A mailsize Encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < "$testfile"
	done

	# GET END TIME
	END=$(date +%s.%N)

	# CALC ELAPSED TIME
	DIFF=$(echo "$END - $START" | bc)

	echo "$size: $DIFF" >> $LOGFILE

	sleep 5
done

cat $LOGFILE

rm $LOGFILE