#!/bin/bash
#
# example usage: ./generate_mails.sh
#

for ((i=1;i<={{ testscripts_generate_mail_count }};i++));
do
   mail -s "A mail access time test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < 50kb_testfile
done