#!/bin/bash
#
# example usage: ./testmail.sh
#

for ((i=1;i<={{ testscripts_testmail_count }};i++));
do
   echo "That's a {{ testscripts_subject_technique }} encryption test NR $i" | mail -s "A {{ testscripts_subject_technique }} test $i" {{ mariadb_mailuser }}@{{ inventory_hostname }}
done