#!/bin/bash
#
# example usage: ./timingtest.sh
#

# GET START TIME
START=$(date +%s.%N)

for ((i=1;i<={{ testscripts_testmail_count }};i++));
do
   mail -s "A Timing and Encryption test" {{ mariadb_mailuser }}@{{ inventory_hostname }} < 50kb_testfile
done

# GET END TIME
END=$(date +%s.%N)

# CALC ELAPSED TIME
DIFF=$(echo "$END - $START" | bc)

echo $DIFF