#! /bin/bash

# DURATION in seconds
DURATION=60

TIMES=30

USER={{ mariadb_mailuser }}


echo "Created Users in $DURATION seconds"

# GET CURRENT RAM FROM TESTED HOST
RAM_BEGINNING=`curl -g -s 'http://monitor.test:9090/api/v1/query?query=(node_memory_MemTotal{job="'"$USER"'"}-node_memory_MemAvailable{job="'"$USER"'"})%2F1024%2F1024' | jq '[.data.result[] | .value ]' | grep "\"" | awk '{$1=$1};1' | sed -e 's/^"//' -e 's/"$//'`

for ((i=1;i<=$TIMES;i++));
do

# start with counter after first 2 Users
USER_COUNTER=3

# run for X seconds
ENDTIME=$((SECONDS+$DURATION))

while [ $SECONDS -lt $ENDTIME ]; do

	# create hash
	HASH=`mkpasswd -m sha-512 --salt=Um7yL68dlGFX8Icj PASSWORD`

	# Insert Hash to DB to create new user
	echo "INSERT INTO virtual_users (id, domain_id, password, email, quota) VALUES ('$USER_COUNTER', '1', '$HASH', 'username$USER_COUNTER@{{ inventory_hostname }}', '1000');" | sudo mysql mailserver

	{% if inventory_hostname == 'mailcrypt.test' %}
	# generate key material and encrypt it
	sudo doveadm -o plugin/mail_crypt_private_password=PASSWORD mailbox cryptokey generate -u username$USER_COUNTER@{{ inventory_hostname }} > /dev/null 2>&1
	{% endif %}

	{% if inventory_hostname == 'scrambler.test' %}
	# generate key material and insert into database

	hash_result=`ruby create_scrambler_values.rb`
	#echo "$hash_result"
	ITERATIONS=`echo $hash_result | cut -d$ -f1`
	SALT=`echo $hash_result | cut -d$ -f2`
	PUBKEY=`echo $hash_result | cut -d$ -f3`
	PRIVKEY=`echo $hash_result | cut -d$ -f4`

	# Insert Key values in db
	echo "INSERT INTO virtual_storage_keys (id, enabled, public_key, private_key, private_key_salt, private_key_iterations, user_id) VALUES ($USER_COUNTER,1,'$PUBKEY','$PRIVKEY','$SALT','$ITERATIONS', '$USER_COUNTER');" | sudo mysql mailserver
	{% endif %}

	{% if inventory_hostname == 'trees.test' %}
	# generate key material and insert into database

	keyvalues=`/opt/local/sources/trees/bin/trees-create --password PASSWORD`

	public_key=`echo $keyvalues | jq '.public_key' | sed -e 's/^"//' -e 's/"$//'`
	pwhash_opslimit=`echo $keyvalues | jq '.pwhash_opslimit' | sed -e 's/^"//' -e 's/"$//'`
	pwhash_memlimit=`echo $keyvalues | jq '.pwhash_memlimit' | sed -e 's/^"//' -e 's/"$//'`
	pwhash_salt=`echo $keyvalues | jq '.pwhash_salt' | sed -e 's/^"//' -e 's/"$//'`
	sk_nonce=`echo $keyvalues | jq '.sk_nonce' | sed -e 's/^"//' -e 's/"$//'`
	locked_secretbox=`echo $keyvalues | jq '.locked_secretbox' | sed -e 's/^"//' -e 's/"$//'`

	# Insert Key values in db
	echo "INSERT INTO virtual_storage_keys (id, enabled, version, public_key, pwhash_algo, pwhash_opslimit, pwhash_memlimit, pwhash_salt, sk_nonce, locked_secretbox, user_id) VALUES ($USER_COUNTER,0,1,'$public_key', '0', '$pwhash_opslimit','$pwhash_memlimit','$pwhash_salt', '$sk_nonce', '$locked_secretbox', '$USER_COUNTER' );" | sudo mysql mailserver


	{% endif %}


	USER_COUNTER=$((USER_COUNTER + 1))
done

# remove user count
USER_COUNTER=$((USER_COUNTER - 3))

echo "$USER_COUNTER"

# restore former database state
sudo mysql mailserver < database_scheme.sql

done

# GET AVERAGE RAM USAGE
RAM_USAGE_OVER_TIME=`curl -g -s 'http://monitor.test:9090/api/v1/query?query=(avg_over_time(node_memory_MemTotal{job="'"$USER"'"}['"$TIMES"'m])-avg_over_time(node_memory_MemAvailable{job="'"$USER"'"}['"$TIMES"'m]))%2F1024%2F1024' | jq '[.data.result[] | .value ]' | grep "\"" | awk '{$1=$1};1' | sed -e 's/^"//' -e 's/"$//'`

# GET AVERAGE CPU USAGE
CPU_USAGE_OVER_TIME=`curl -g -s 'http://monitor.test:9090/api/v1/query?query=100-(avg(rate(node_cpu{job="'"$USER"'",mode="idle"}['"$TIMES"'m]))*100)' | jq '[.data.result[] | .value ]' | grep "\"" | awk '{$1=$1};1' | sed -e 's/^"//' -e 's/"$//'`

# GET AVG IOWAIT
IOWAIT_OVER_TIME=`curl -g -s 'http://monitor.test:9090/api/v1/query?query=avg_over_time(node_cpu{mode="iowait",job="'"$USER"'"}['"$TIMES"'m])' | jq '[.data.result[] | .value ]' | grep "\"" | awk '{$1=$1};1' | sed -e 's/^"//' -e 's/"$//'`

# GET AVERAGE LOAD
LOAD_OVER_TIME=`curl -g -s 'http://monitor.test:9090/api/v1/query?query=avg_over_time(node_load1{name="'"$USER"'"}['"$TIMES"'m])' | jq '[.data.result[] | .value ]' | grep "\"" | awk '{$1=$1};1' | sed -e 's/^"//' -e 's/"$//'`

echo ""
echo "#### TEST STATS: $HOST ####"
echo ""
printf "%-30s" "RAM_USAGE_AT_BEGINNING:"
printf "%s\n" "$RAM_BEGINNING"
printf "%-30s" "AVG_RAM_USAGE_OVER_TESTTIME:"
printf "%s\n" "$RAM_USAGE_OVER_TIME"
printf "%-30s" "AVG_CPU_USAGE_OVER_TESTTIME:"
printf "%s\n" "$CPU_USAGE_OVER_TIME"
printf "%-30s" "AVG_IOWAIT_OVER_TESTTIME:"
printf "%s\n" "$IOWAIT_OVER_TIME"
printf "%-30s" "AVG_LOAD_OVER_TESTTIME:"
printf "%s\n" "$LOAD_OVER_TIME"
echo ""
echo "#### END TEST STATS ####"

