# Sieve Extprograms plugin configuration

# Don't forget to add the sieve_extprograms plugin to the sieve_plugins setting.
# Also enable the extensions you need (one or more of vnd.dovecot.pipe,
# vnd.dovecot.filter and vnd.dovecot.execute) by adding these	to the
# sieve_extensions or sieve_global_extensions settings. Restricting these
# extensions to a global context using sieve_global_extensions is recommended.

plugin {

  # The directory where the program sockets are located for the
  # vnd.dovecot.pipe, vnd.dovecot.filter and vnd.dovecot.execute extension
  # respectively. The name of each unix socket contained in that directory
  # directly maps to a program-name referenced from the Sieve script.
  #sieve_pipe_socket_dir = sieve-pipe
  #sieve_filter_socket_dir = sieve-filter
  #sieve_execute_socket_dir = sieve-execute

  # The directory where the scripts are located for direct execution by the
  # vnd.dovecot.pipe, vnd.dovecot.filter and vnd.dovecot.execute extension
  # respectively. The name of each script contained in that directory
  # directly maps to a program-name referenced from the Sieve script.
  #sieve_pipe_bin_dir = /usr/lib/dovecot/sieve-pipe
  sieve_filter_bin_dir = {{ gpg_sieve_sieve_filter_bin_dir }}
  #sieve_execute_bin_dir = /usr/lib/dovecot/sieve-execute
}

# An example program service called 'do-something' to pipe messages to
#service do-something {
  # Define the executed script as parameter to the sieve service
  #executable = script /usr/lib/dovecot/sieve-pipe/do-something.sh

  # Use some unprivileged user for executing the program
  #user = dovenull

  # The unix socket located in the sieve_pipe_socket_dir (as defined in the
  # plugin {} section above)
  #unix_listener sieve-pipe/do-something {
    # LDA/LMTP must have access
  #  user = vmail
  #  mode = 0600
  #}
#}
