DROP TABLE IF EXISTS `virtual_aliases`;
DROP TABLE IF EXISTS `virtual_users`;
DROP TABLE IF EXISTS `virtual_storage_keys`;
DROP TABLE IF EXISTS `virtual_domains`;

CREATE TABLE `virtual_domains` (
`id`  INT NOT NULL AUTO_INCREMENT,
`name` VARCHAR(50) NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `virtual_aliases` (
`id` INT NOT NULL AUTO_INCREMENT,
`domain_id` INT NOT NULL,
`source` varchar(100) NOT NULL,
`destination` varchar(100) NOT NULL,
PRIMARY KEY (`id`),
FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `virtual_users` (
`id` INT NOT NULL AUTO_INCREMENT,
`domain_id` INT NOT NULL,
`password` VARCHAR(106) NOT NULL,
`email` VARCHAR(120) NOT NULL,
`quota` int(10) unsigned DEFAULT NULL,
PRIMARY KEY (`id`),
UNIQUE KEY `email` (`email`),
FOREIGN KEY (domain_id) REFERENCES virtual_domains(id) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

{% if 'trees' in group_names %}
CREATE TABLE `virtual_storage_keys` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `enabled` tinyint(4) DEFAULT '1',
  `version` tinyint(4) DEFAULT '1',
  `public_key` text,
  `pwhash_algo` tinyint(4) DEFAULT '{{ trees.pwhash_algo }}',
  `pwhash_opslimit` int(11) DEFAULT NULL,
  `pwhash_memlimit` int(11) DEFAULT NULL,
  `pwhash_salt` varchar(255) DEFAULT NULL,
  `sk_nonce` varchar(255) DEFAULT NULL,
  `locked_secretbox` text,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
{% endif %}


{% if 'scrambler' in group_names %}
CREATE TABLE `virtual_storage_keys` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `enabled` tinyint(4) DEFAULT '1',
  `public_key` text,
  `private_key` text,
  `private_key_salt` varchar(255) DEFAULT NULL,
  `private_key_iterations` tinyint(4) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
{% endif %}

INSERT INTO `virtual_domains`
(`id` ,`name`)
VALUES
('1', '{{ inventory_hostname }}');


{% if 'trees' in group_names %}
INSERT INTO `virtual_users`
(`id`, `domain_id`, `password`, `email`, `quota`)
VALUES
('1', '1', '$6$Um7yL68dlGFX8Icj$.nlN7gwYIkCNTV7iy3NfgqPcHMongdnpDvKJkRXcne9x2UOzz.a6wWqDRPkBsTSHgs9moIlzz86zdndN7baoB/', 'admin@{{ inventory_hostname }}', '1000'),
('2', '1', '$6$Um7yL68dlGFX8Icj$.nlN7gwYIkCNTV7iy3NfgqPcHMongdnpDvKJkRXcne9x2UOzz.a6wWqDRPkBsTSHgs9moIlzz86zdndN7baoB/', 'trees@{{ inventory_hostname }}', '1000');

INSERT INTO `virtual_aliases`
(`id`, `domain_id`, `source`, `destination`)
VALUES
('1', '1', 'alias@{{ inventory_hostname }}', 'admin@{{ inventory_hostname }}');

INSERT INTO `virtual_storage_keys`
(`id`, `enabled`, `version`, `public_key`, `pwhash_algo`,  `pwhash_opslimit`, `pwhash_memlimit`, `pwhash_salt`, `sk_nonce`, `locked_secretbox`, `user_id`)
VALUES
(1,0,1,'','','','', '', '', '', '1' ),
(2,1,1,'431ab6dffbccac7268e3824fcbbc8327c46def96a3006cc019bc861d9393af4a','0','4','33554432', 'e94849d31c15d55eae44e8408338c519', '156ea45b6604dc769c6c0408faf3caecee28c305cca3f4a7', '52d61d7138effeb51e5883454d6c266c636780653b4eb59dac2047a73fb0c53cd08b91316ba27657e97e9f390d03d784', '2' );
{% endif %}

{% if 'scrambler' in group_names %}
INSERT INTO `virtual_storage_keys`
(`id`, `enabled`, `public_key`, `private_key`, `private_key_salt`, `private_key_iterations`, `user_id`)
VALUES
(1,0,'','','','', '1' ),
(2,1,'-----BEGIN PUBLIC KEY-----_MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzjtJ4oMUnznIAW/blH9C_vrLEJnprZvgVUNs7Z5YnfCs52thP/l7oDY+gbLXoQjRQBYYCkJLQljRqn65QBECK_zp6w1Mr32RrLtvk4siUnDTj0KNyaD9BT+232Ipatgq+g3+77YHGhmh6Iy6EFuo0b_+rW37/azNoBv9RRZqwNL6RBh3mdydMLwHUZUnlBMn7MvsxMYJkZ0IzSOdprpLQOE_X2eoREPjQx0xFvVRj4NuUa57aYFVTIwkikzkfCYHRYyQXbYNqM+fGIekxGILE0TY_btLMM+HfmhZiq310WaEkVsvABI09yhuv3ZWYPiR2RTvyggiFpdRX3bNVVRt9ltDO_HQIDAQAB_-----END PUBLIC KEY-----_','-----BEGIN RSA PRIVATE KEY-----_Proc-Type: 4,ENCRYPTED_DEK-Info: AES-256-CBC,5F5CE4A74020503C616257EE468B234D__l9bI32DFnuuy90abTCjnIoGlbf/XwhJOK7PuIH9jpLwArOSTZ+PDfVi5NpkiFVgQ_uTcBnRk8SE/bOV9ffHj541aHvCg38LiPM1LgeaSOvc29dVi1NrZNUw5GDk+Ywlbp_37ndnF5PIYLM/xGrXgUH9yEq5oH0bGBSk4TUz4OmCx+MTVCH5uPUN0w5SE/u6fhO_4OWEoQTcTQnzlOydRZgltk6Wbrx7l78av0OlXolW9o2JScS+MqCHbNRkHG9ufcvK_dDiIKfkdZbBocmKWTFfbWL0IdGSRlFSKReMJfV49oFfFLL0RZnBFW0+1YQTyNJMC_nUno0rbAWzdRhjbEeC0dzXpN3nZ+tfMc5R2LnBRb6BGF5cl4pro6qB2MlgWIz2cb_zCvQqJ9VfCiNRguh/6+RNvWRUfIkZZelGSmQVZqm375+GmhJpmgKCCIC3SKZ3TKU_EPX8oa3fxVYPdja6EOktjQr7Fx6N+dTIElCxQg8GWLOVSgYSgyZusKpdE/IVrrjQ_2s1oZWCMoX3gn5DT28EDUUPYQkEePisJKg8MuFrSoahCfmnTBp/eXFBE3164v0lX_UyL2F5uEZb4EkEJtL11yGyw8i/t7VfBE/bYdGxH8U+WWza41Y20kthhtsvrL/pvS_ZHacfr57nmQFJnsf28atRCA1He84SMH8adVQCNTiy0Ri97ABPAbmR1WRwTwmNsdj_0831GzQNCa+TUiRctrxZ+tupHvgalGIlHIcvFwaGBdDe+AsOZelHR+KKPg/bt9l5_mgCahFrMxCDLm4Y7iemkBEg6SZhMRmSDr5l0qHPnJjaffaOhhZjylJOV2E+hbhMW_pOp0XlkXV4AH58TGIS869Ww3bhQOIAqGN+W8E8AGfU6ypMCMs/cLRbV3KAQ6VFsW_3tVjfWjhO3JCR2duI6giOvWOQdYyU9C3YS+0rMVHznQ8tPWH2t9Cz56bHff9mqW3_X41bzBJL+mC88b+m/Rk9kI7Dqwe5m8+aWj27bvDk0hrEp6vHzLXDZhN0au5z1tiL_vfI+dYHjMIagnDuMi/hwxr/hLLh+AD4nF5uzTibU1MpLQGFxcu61F15/HQy2ZIgj_9K+RVY7533rPP7Hw4jGS5tCqpYnTt/bQwvDZENk0FUm9YGUwMeQwMyUZniqb5DAN_+FSA80ahiWyGz4jHwGUTEJSIBE+j72kBDFPFhjoX9nxTCFYafthnsc+ZbH8uLUC+_TGC/2uINE5vw+pR3Vw+cCtSp4fiGehXAB72oME4HXQcpKAIao8FREsp7JlAqRHYr_TA+C0nQg0PwEWAVvUeDNquPFEVA/5iSd6af0g9cbZ1D5EZyNQ1kP0IBgXjgIgrH0_pL3SQh1bo5ljt859xuetL49CcqFN2o/5u9at9Bbr+vR2oEn8OghvIBFZ5x4EoE7W_1k9XNTheNiQq00aBfx0iOg2N97tJ9gZqWJOoQAe5I5ku9zByyzX0lJuoDsUMS2oF_WeAPKqOkFZ8pVtZkhJJkkZmaZCm3UNnQGR58NhPDCYHx278AduHgoE6FgJy4u1Cf_a7t6q2+OdP4h/6kuNcfyZg/2QO6iXS3pFPdjnYb1gXvYCv41+SntBfqjaAPWqOZ9_-----END RSA PRIVATE KEY-----_','MbMyUVPqudaWqBpxUbsxFQ','12', '2' );
{% endif %}

{% if 'trees' not in group_names %}
INSERT INTO `virtual_users`
(`id`, `domain_id`, `password`, `email`, `quota`)
VALUES
('1', '1', '$6$Um7yL68dlGFX8Icj$.nlN7gwYIkCNTV7iy3NfgqPcHMongdnpDvKJkRXcne9x2UOzz.a6wWqDRPkBsTSHgs9moIlzz86zdndN7baoB/', 'admin@{{ inventory_hostname }}', '1000'),
('2', '1', '$6$Um7yL68dlGFX8Icj$.nlN7gwYIkCNTV7iy3NfgqPcHMongdnpDvKJkRXcne9x2UOzz.a6wWqDRPkBsTSHgs9moIlzz86zdndN7baoB/', '{{ mariadb_mailuser }}@{{ inventory_hostname }}', '1000');

INSERT INTO `virtual_aliases`
(`id`, `domain_id`, `source`, `destination`)
VALUES
('1', '1', 'alias@{{ inventory_hostname }}', 'admin@{{ inventory_hostname }}');
{% endif %}