# THIS FILE IS CONTROLLED BY ANSIBLE
# any local modifications will be overwritten!
#
# This file is managed by Ansible.

127.0.0.1		{{ ansible_fqdn }} {{ inventory_hostname_short }}
127.0.0.1		localhost
127.0.1.1		stretch.localdomain     stretch

192.168.66.10		monitor.test
192.168.66.11		trees.test
192.168.66.12		scrambler.test
192.168.66.13		mailcrypt.test
192.168.66.14		gpgsieve.test
192.168.66.15		imaptester.test

